<%= will_paginate @myreplies %>

<ul>
  <% if @myreplies %>
    <% @myreplies.each do |reply| %>
    <li id="comment">
      <div class="post-content">
        <%= link_to reply.content, post_path(reply.post_id) %>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @myreplies %>
