<%= will_paginate @myreplies %>

<% if @myreplies %>
  <ul>
    <% @myreplies.each do |reply| %>
      <li id="replies-log">
        <div class="post-content">
          <%= link_to simple_format(reply.content), post_path(reply.post_id) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @myreplies %>
