<%= will_paginate @myreplies, inner_window: 1, outer_window: 1 %>

<% if @myreplies %>
  <ul class="main-content">
    <% @myreplies.each do |reply| %>
      <li id="replies-log">
        <div class="post-content">
          <%= link_to simple_format(reply.content), post_path(reply.post_id) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @myreplies, inner_window: 1, outer_window: 1 %>
