<div class="post-content">
  <h1>お問い合わせはこちらへ</h1>
  <div id="form-faq">
    <%= form_for(@faq) do |f| %>
    <%= f.text_area :content %>
    <%= f.button '送る', class: 'button' %>
    <% end %>
  </div>
  
<!--
  <h4>よくある質問</h4>
  <dl>
    <dt>質問１</dt>
    <dd>回答１</dd>
    <br>
    <dt>質問２</dt>
    <dd>回答２</dd>
  </dl>
</div> -->

<hr>
<div id="footer-like">
  <p>created by '紺染'</p>
  <%= link_to 'twitter', 'https://twitter.com/usukonsome',target: 'blank' %>
</div>
