<h1>あなたのお気に入り</h1>
<%= will_paginate @favorite, inner_window: 1, outer_window: 1 %>

<ul class="main-content">
  <% @favorite.each do |fav| %>
    <% post = Post.find_by(id:fav.post_id) %>
    <%= render post %>
  <% end %>
</ul>

<%= will_paginate @favorite, inner_window: 1, outer_window: 1 %>
<a href="#" class="return-top" >ページ上部へ</a>
