// ctrl + / でコメントに切り替えられるよ コメント以外で全角スペース使ったらシンタックスエラー出るよ

$rink-color: #5a48a1;

.bootstrap{
  @import "bootstrap";
  margin-top: 0;
}

strong a,.post-content a,div a,.show a,.file-field a,h2 a{
  text-decoration: none;
}

a {
  color: $rink-color;
  &:hover{
    color: lighten($rink-color,30%);
  }
}

$button-color: #5c6158;
.button{
  background: $button-color;
  color: white;
  border: solid 4px $button-color;
  border-radius: 3px;
  margin: 5px 5px 0 0;
}

  // -------header-------

header{
  background: center/cover url(heder.jpg) rgba(100,105,110,0.9);
  height: 200px;
  ul{
    list-style: none;
    display: flex;
  }
}

nav{
  background-color: #7d7468;
  width: 100%;
  height: 35px;
  position: fixed;
  padding-top: 25px;
  li{
    margin-right: 20px;
  }
}

header span a{
  float: right;
  height: 200px;
}

#notice{
  position: fixed;
  width: 100%;
  background-color: rgba(240,204,122,0.9);
  p{
    width: 750px;
    text-align: center;
    font-size: 18px;
    margin: 0 0 0 25px;
  }
}

  // -------body--------

body{
  background: url(koruk.jpg);
  color: #424c57;
  font-family: 'Meiryo UI';
  font-size: 16px;
  margin: 0;
}

section{
  width: 750px;
  margin-top: 50px;
  margin-left: 50px;
}

.pagination{
  font-size: 20px;
  margin-top: 0;
}

.main-content > li{
  list-style: none;
}

#image img{
  max-width: 400px;
  max-height: 400px;
  display: block;
}

.post-content{
  line-height: 1.6; //font-sizeの1.6倍
  background-color: white;
  border: 3px solid #f0ebdf;
  padding:15px;
  p{
    margin: 0;
  }
  + li{
    margin-top: 50px;
  }
  > span{
    font-size: 1.2em;
  }
}

#post-comment-top-word{
  font-size: 1.2em;
  margin-bottom: 15px;
}

.replies{
  margin-top: 15px;
  li{
    list-style: disc;
  }
  p{
    display: inline;
  }
}

#post-under-heart{
  margin-top: 15px;
}

.icon{
  margin-left: 10px;
  &:hover{
    opacity: 0.9;
  }
}

.return-top{
  display: inline-block;
  margin-top: 20px;
}

.show{
  p{
    margin: 5px 0 2px;
  }
  > p{
    font-size: 25px;
  }
  span{
    font-size: 13px;
  }
}

strong a{
  color: darken($rink-color,15%);
}

#replies-log{
  list-style: none;
  margin-bottom: 30px;
  p{
    display: inline;
  }
}

#picture_prev{
  max-height: 500px;
  max-width: 600px;
}

.file-field{
  display: block;
  a{
    font-size: 15px;
    vertical-align: bottom;
  }
}

textarea{
  height: 80px;
  box-sizing: border-box;
  width: 100%;
}

h2{
  font-weight: normal;
  a{
    color: #5c6158;
  }
}

#ikou{
  margin-bottom: 40px;
  h1{
    font-weight: normal;
    font-size: 30px;
  }
  h2{
    margin: 50px 0 5px;
  }
  span {
    font-weight: bold;
    color: #698;
  }
  ul{
    list-style: none;
  }
  dd{
    margin-left: 18px;
  }
}

#ikou-digest{
  vertical-align: bottom;
}

#form-faq{
  margin-bottom: 70px;
}

#footer-like{
  display: flex;
  a{
    padding-top: 15px;
    padding-left: 7px;
  }
}
