// ctrl + / でコメントに切り替えられるよ コメント以外で全角スペース使ったらシンタックスエラー出るよ

$rink-color: #5a48a1;
$nav-color: #7d7468;
$icon-color: rgb(228,224,214);

.bootstrap{
  @import "bootstrap";
  margin-top: 0;
  a{
    &:hover{
    text-decoration: none;
    }
  }
  @media (max-width: 800px){
    padding: 0;
  }
}

strong a,.post-content a,div a,.show a,.file-field a,h2 a{
  text-decoration: none;
}

a {
  color: $rink-color;
  &:hover{
    color: lighten($rink-color,30%);
  }
}

$button-color: #5c6158;
.button{
  background: $button-color;
  color: white;
  border: solid 4px $button-color;
  border-radius: 3px;
  margin: 5px 5px 0 0;
}

  // -------header-------

header{
  background: center/cover url(heder.jpg) rgba(100,105,110,0.9);
  width: 100%;
  height: 200px;
  @media (max-width: 800px){
    height: 95px;
  }
  @media (max-width: 600px){
    height: 60px;
  }
  img{
    height: 35px;
    @media (max-width: 600px){
      height: 24px;
    }
  }
  ul{
    list-style: none;
    display: flex;
  }
}

nav{
  background-color: $nav-color;
  width: 100%;
  height: 35px;
  position: fixed;
  padding-top: 15px;
  @media (max-width: 600px){
    height: 30px;
    padding-top: 5px;
  }
  li{
    margin-right: 20px;
    opacity: 0.7;
    @media (max-width: 800px){
      margin:0 auto;
    }
    &:hover{
      opacity: 1;
    }
  }
  span{
    vertical-align: bottom;
    color: $icon-color;
    @media (max-width: 350px){
      display: none;
    }
  }
}

header span a{
  float: right;
  height: 200px;
}

#notice{
  position: fixed;
    top: 51px;
  width: 100%;
  background-color: rgba(240,204,122,0.9);
  @media (max-width: 800px){
    position: fixed;
    top: 35px;
  }
  p{
    width: 750px;
    text-align: center;
    font-size: 18px;
    margin: 0 0 0 25px;
    @media (max-width: 800px){
      width: 100%;
      margin: 0 auto;
    }
  }
}

  // -------footer-------

footer{
  background-color: $nav-color;
  height: 80px;
  text-align: right;
  a{
    color: #424c57;
  }
}

  // -------body--------

body{
  background: url(koruk.jpg);
  color: #424c57;
  font-family: 'Meiryo UI';
  font-size: 16px;
  margin: 0;
  @media (max-width: 600px){
    font-size: 13px;
  }
}

section{
  width: 750px;
  margin-top: 50px;
  margin-left: 50px;
  min-height: 600px;
  @media (max-width: 800px){
    width: 90%;
    box-sizing: border-box;
    margin:30px auto;
  }
}

.pagination{
  font-size: 20px;
  margin-top: 0;
}

.main-content{
  @media (max-width: 800px){
    padding-left: 0;
  }
  > li{
  list-style: none;
  }
}

.search-content{
  margin-bottom: 80px;
}
.search-content p{
  font-weight: bold;
}

.image img{
  max-width: 400px;
  max-height: 400px;
  display: block;
  @media (max-width: 800px){
    max-width: 100%;
    margin:0 auto;
  }
}

.post-content{
  line-height: 1.6; //font-sizeの1.6倍
  background-color: white;
  border: 3px solid #f0ebdf;
  padding:15px;
  p{
    margin: 0;
  }
  + li{
    margin-top: 50px;
    @media (max-width: 600px){
      margin-top: 35px;
    }
  }
  > span{
    font-size: 1.2em;
  }
}

#post-comment-top-word{
  font-size: 1.2em;
  margin-bottom: 15px;
}

.replies{
  margin-top: 15px;
  li{
    list-style: disc;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  p{
    display: inline;
  }
  @media (max-width: 600px){
    ul{
      padding-left: 20px;
    }
  }
}

#post-under-heart{
  margin-top: 15px;
}

.icon{
  margin-left: 10px;
  &:hover{
    opacity: 0.9;
  }
}

.return-top{
  display: inline-block;
  margin: 20px 0 100px;
  @media(max-width: 600px){
    font-size: 18px;
  }
}

.show{
  p{
    margin: 5px 0 2px;
  }
  > p{
    font-size: 25px;
    @media (max-width: 350px){
      font-size: 20px;
    }
  }
  @media (max-width: 800px){
    img{
      max-width: 100%;
    }
  }
}

#time{
  font-size: 11px;
}

.hen-del{
  @media (max-width: 800px){
    font-size: 15px;
    span{
      margin-left: 15px;
    }
  }
}

strong a{
  color: darken($rink-color,15%);
  @media (max-width: 800px){
    font-size: 25px;
  }
  @media (max-width: 600px){
    font-size: 16px;
  }
}

#reply-image img{
  @media (max-width: 800px){
    max-width: 100%;
  }
}

#replies-log{
  list-style: none;
  margin-bottom: 30px;
  p{
    display: inline;
  }
}

#picture_prev{
  max-height: 500px;
  max-width: 600px;
  @media (max-width: 800px){
    max-width: 100%;
  }
}

.file-field{
  display: block;
  a{
    font-size: 15px;
    vertical-align: bottom;
  }
}

textarea{
  height: 80px;
  box-sizing: border-box;
  width: 100%;
}

h2{
  font-weight: normal;
  a{
    color: #5c6158;
  }
}

#ikou{
  margin-bottom: 40px;
  h1{
    font-weight: normal;
    font-size: 30px;
    @media (max-width: 350px){
      font-size: 25px;
    }
  }
  h2{
    margin: 50px 0 5px;
  }
  span {
    font-weight: bold;
    color: #698;
  }
  ul{
    list-style: none;
  }
  dd{
    margin-left: 18px;
  }
}

#ikou-digest{
  vertical-align: bottom;
}

#form-faq{
  margin-bottom: 70px;
}

#footer-like{
  display: flex;
  a{
    padding-left: 7px;
  }
}
