// ctrl + / でコメントに切り替えられるよ コメント以外で全角スペース使ったらシンタックスエラー出るよ
.bootstrap{
  // @import "bootstrap-sprockets";
  @import "bootstrap";
  margin-top: 0;
}

strong a,.main-content a,div a,.show a,.file-field a{
  text-decoration: none;
}

a {
  color: #5a48a1;
}
a:hover{
  color: #cbbed1;
}

  // -------header-------

header{
  background: center/cover url(heder.jpg) rgba(100,105,110,0.9);
  height: 200px;
}

nav{
  background-color: #7d7468;
  width: 100%;
  height: 35px;
  position: fixed;
}

header ul{
  list-style: none;
  display: flex;
}

#kanri-link a{
  float: right;
  height: 200px;
}

#notice{
  position: fixed;
  width: 100%;
  background-color: rgba(240,204,122,0.9);
}

#flash{
  text-align: center;
  width: 750px;
  font-size: 18px;
}

  // -------body--------

body{
  margin: 0;
  background: url(koruk.jpg);
  color: #424c57;
  font-family: 'Meiryo UI';
  font-size: 16px;
}

section{
  margin-top: 50px;
  margin-left: 50px;
  width: 750px;
}

.main-content > li{
  list-style: none;
}

#image img{
  max-width: 400px;
  max-height: 400px;
  display: block;
}

.post-content{
  line-height: 1.6; //font-sizeの1.6倍
  background-color: white;
  border: 3px solid #f0ebdf;
}

.pagination{
  font-size: 20px;
  margin-top: 0;
}

.show p{
  font-size: 25px;
}

.show span{
  font-size: 13px;
}

strong a{
  color: #584f70;
}

#comment{
  list-style: none;
}

#post-word-top{
  font-size: 1.2em;
}

#picture_prev{
  max-height: 500px;
  max-width: 600px;
}

.file-field{
  display: block;
}

textarea{
  height: 80px;
  box-sizing: border-box;
  width: 100%;
}

#ikou span {
  font-weight: bold;
  color: #698;
}

#ikou h1{
  font-weight: normal;
  font-size: 30px;
}

#ikou h2{
  font-weight: normal;
}

#ikou ul{
  list-style: none;
}

#footer-like{
  display: flex;
}

  // -------spacing-------

nav li{
  margin-right: 20px;
}

.post-content{
  padding:15px;
}

.post-content + li{
  margin-top: 50px;

}

.show p{
  margin: 5px 0 2px;
}

#comment{
  margin-bottom: 30px;
}

#notice{
  margin-top: 35px;
}

#flash{
  margin: 0 0 0 25px;
}

#ikou{
  margin-bottom: 40px;
}

#ikou h2{
  margin: 50px 0 5px;
}

#ikou dd{
  margin-left: 18px;
}

#form-faq{
  margin-bottom: 70px;
}

#footer-like a{
  padding-top: 15px;
  padding-left: 7px;
}
